*, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("https://img.freepik.com/free-photo/dark-shiny-background_1017-8079.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1,h2,a {
  font-family: Arial, sans-serif;
  color: white;
}

a {box-shadow: 22px 22px 20px #f5f5f5;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 40;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

section {padding: 20px;}

section h2 {margin-bottom: 10px;}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #333;
  padding: 40px;
  color: #fff;
  text-align: center;
}

header {
  bottom: 0;
  background-color: grey;
  padding: 20px;
  color: black;
  text-align: center;
  box-shadow: 30px 30px 30px #888888;
}
